<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>ClassRoom</title>
  </head>
  <body>
    <nav class="navbar">

      <div class="circle-container">
        <div class="circle">
          <a href="/"><img src="/img/chapeu.com.png" alt="" /></a>
        </div>
      </div>

      <div class="list-container">

        <a href="/">Home</a>
        <a href="/students/registerStudent">Register Stundent</a>

      </div>

    </nav>
    {{{body}}}
  </body>
</html>